.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2em;
  gap: 1em;
}

.room-select-title {
  font-size: 4rem;
  font-weight: 900;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  overflow-y: auto;
  flex: 3;
  border-radius: 5px;
}

.room-card {
  width: 12rem;
  height: 14rem;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1.25px 1.25px 5px #dadada;
  cursor: pointer;
}

.room-card .room-type {
  font-size: 1.4rem;
}

.room-card .room-number {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
}

.room-card.selected {
  border: 2px solid #00aaff;
  background-color: #e0f7ff;
}

.room-card:focus {
  outline: 3px solid #007acc;
  outline-offset: 2px;
}

.selector-btns {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 90rem) {
  .main-container {
    width: 90vw;
    max-width: 90rem;
  }
}
